* {
 margin: 0;
  font-family: sans-serif;
  
}

body {
  background-color: black;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.burger-container {
  display: none;
}



nav {
  position: fixed;
    width: 100%;
    height: 38px;
    padding-top: 10px;
    

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-bottom: 1px solid gray;

    background: black;
    
}

.links-about {
  margin-left: 30px;
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  gap: 40px;
  
}

a {
  text-decoration: none;
  color: rgb(224, 212, 212);
  font-family: "Outfit", sans-serif;
}

.burger-container{
  display: flex;
}

.burger-container>button{
  color: rgb(224, 212, 212);
  font-size: larger;
  background-color: black;
  border: none;
  display: none;
}

.Port>h2{
  margin-right: 20px;
  margin-bottom: 40px;
  font-family: "Outfit", sans-serif;
  letter-spacing: 1px;
}

.bigparent-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.parent-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}

.about {
  margin-top: 200px;
  margin-left: 90px;
}

.akarongo {
  font-family: "Arimo", sans-serif;
  color: rgb(224, 212, 212);
}

.about>hr{
  width:120px ;
  height:4px ;
  background-color: rgba(245, 245, 245, 0.731);
  border-radius: 10px;
  border: none;
  margin-bottom: 3px;
  margin-top: -3px;
}

.munsi {
  font-family: "Outfit", sans-serif;
  margin-top: 5px;
  color: rgb(229, 218, 218);
}

.about-info {
  font-family: "Outfit", sans-serif;
  margin-top: 70px;
  margin-right: 500px;
  color: rgb(229, 218, 218);
}

.photo {
  display: flex;
  flex-direction: row;
  justify-content: right;
  background-color: yellow;
  margin-top: 100px;
  margin-right: 80px;
}

.staffzohasi {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  padding-top: 100px;
  text-align: center;
}
.skillsword {
  font-family: "Arimo", sans-serif;
  margin-bottom: 50px;
  color: rgb(224, 212, 212);

}

.skills {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.list1{
  margin-right: 50px;
}

ul {
  line-height: 1.6;
  font-family: "Outfit", sans-serif;
  
  margin-top: 35px;
  color: rgb(229, 218, 218);
}

li {
  font-family: "Outfit", sans-serif;
  text-align: left;
}

strong {
  font-family: "Outfit", sans-serif;
}

.ul-list2 {
  margin-right: 10px;
}

h2 {
  font-family: "Arimo", sans-serif;
  color: rgb(224, 212, 212);
}

.projects {
  padding-bottom: 10%;
}

.projects-head {
  font-family: "Arimo", sans-serif;
  margin-top: 250px;
  margin-bottom: 50px;
  color: rgb(224, 212, 212);
}

.projects-holder {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.projects-holder > div {
    height: 300px;
    width: 45%;
    border-radius: 10px;
    border: 1px solid rgba(70, 69, 69, 0.386);
    display: flex;
    flex-direction: column;
    
    
}

.photodi {
  background-color: black;
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.photodi>h1{
  padding-top: 30px;
  font-size: 35px;
  color: rgba(245, 245, 245, 0.731);
  font-family: "Arimo", sans-serif;
}

.photodi>p{
  background-color: rgba(245, 245, 245, 0.731);
  width: 30%;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 20px;
  font-family: "Outfit", sans-serif;
}

.ppp {
display: flex;
flex-direction: column;
width: 100%;
height: 40%;
background-color: rgb(24, 24, 28);
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;

}

.start{
width: 100%;
height: 33%;
display: flex;
flex-direction: row;
justify-content: space-between;
}


.start>h3{
  padding-top: 25px;
  font-size: 15px;
}
.start>h3>b{
  color: white;
  margin-left: 20px;
  font-size: smaller;
}
.start>a>i {
  padding-top: 10px;
  margin-right: 10px;
}

.para{
width: 100%;
height: 33%;
display: flex;
}

.para>p {
  padding-top: 15px;
  color: rgb(141, 143, 164);
  font-family: "Outfit", sans-serif;
  margin-left: 17px;
}

.end{

width: 100%;
height: 33%;
display: flex;
flex-direction: row;
color: white;
}

.end>p{
  border: 1px solid rgba(0, 0, 0, 0.292);
  background-color: rgb(40, 41, 44);
  border-radius: 60px;
  margin-top: 5px;
  padding-top: 3px;
  padding-bottom: 13px;
  margin-left: 13px;
  margin-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: small;
  height: 8px;
  font-family: "Outfit", sans-serif;
}

.contact{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  

}

.foto{
  width: 35%;
  display: flex;
  align-items: center;
  color: aliceblue;
  margin-right: 20px;
}

.break{
  text-align: left;
  font-size: 45px;
  font-family: "Outfit", sans-serif;
  color: rgb(224, 212, 212);
}

.form-holder{
  width: 30%;
  
  
}

.form-holder>form{
  
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form-title{
color: rgba(245, 245, 245, 0.731);
}

.form-title>h2{
  
  display: flex;

  font-family: "Arimo", sans-serif;
  color: rgba(245, 245, 245, 0.731);
}

.form-title>hr{
  width:120px ;
  height:5px ;
  background-color: rgba(245, 245, 245, 0.731);
  border-radius: 10px;
  border: none;
  margin-bottom: 10px;
  
}

.form-names{
  border: none;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  
  color: rgb(82, 82, 82);
  background-color: #eaeaeae3;
  font-weight: bold;
  font-family: "Outfit", sans-serif;
}

.form-email{
  border: none;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  
  color: rgb(82, 82, 82);
  background-color: #eaeaeae3;
  font-weight: bold;
  font-family: "Outfit", sans-serif;
}

.form-text{
  border: #ffffffe3;
  border-radius: 20px;
  padding-top: 8px;
  padding-bottom: 60px;
  padding-left: 15px;
 
  color: rgb(82, 82, 82);
  background-color: #eaeaeae3;
  font-weight: bold;
  font-family: "Outfit", sans-serif;
}

.form-button{
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  
  background-color: rgba(245, 245, 245, 0.731);
  font-weight: bold;
}

.nyuma{
  display: flex;
  justify-content: center;
  font-size: small;
  color: rgba(224, 212, 212, 0.854);
  font-family: "Outfit", sans-serif;
  margin-top: 30px;
  margin-bottom: 5px;
  letter-spacing: 1px;
}


@media (max-width: 500px) {
  * {
    margin: 0;
    overflow-x: hidden;
    
  }
  body, html{
    padding: 0;
  }
  .links-about{
    display: none;
  }
  .Port{
    overflow-y: hidden;
  }
  .Port>h2{
    margin-right: 5px;
    
  }
  .burger-container{
    display: flex;
  }
  .burger-container>button{
    color: rgb(224, 212, 212);
    font-size: 25px;
    background-color: black;
    border: none;
    display: flex;
    margin-left: 20px;
    margin-top: 5px;
  }

  .photo{
    display: none;
  }

  
  .about{
    margin-right: 10px;
    margin-left: 40px;
    margin-top: 130px;
  }
  .akarongo{
    margin-left: 0px;
  }
  .about>hr{
    margin-left: 0px;
  }
  .munsi{
    margin-left: 0px;
    font-size: medium;
  }
  .about-info{
    margin-top: 50px;
    margin-right: revert ;
    font-size: smaller;
  }
  .staffzohasi{
    margin-top: 0px;
  }
  .skills{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .skillsword{

  }
  .list1{
    width: 100%;

  }
  .list1>h2{
    display: flex;
    justify-content: left;
    margin-left: 35px;
  }
  .list1>ul{
    font-size: smaller;
  }
  .list2{
    margin-top: 100px;
  }
  .list2>h2{
    display: flex;
    justify-content: left;
    margin-left: 35px;
  }
  .list2>ul{
    font-size: smaller;
  }
  .projects-holder{
    display: flex;
    flex-direction: column;
  }
  .projects-holder>div{
    width: 90%;
    display: flex;
  }
  .photodi>h1{
    font-size: 23px;
    margin-top: 15px;
  }
  .photodi>p{
    width: 45%;
  }
  .start{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .start>h3{
    overflow-y: hidden;
  }

  .start>h3>b{
    padding-bottom: 5px;
    margin-left: 17px;
  }

  .start>a>i{
    overflow-y: hidden;
  } 

  .end>p{
    overflow-y: hidden;
  }
  .contact{
    display: flex;
    flex-wrap: wrap;
  }
  .foto{
   display: none;
  }

  .form-holder{
    width: 80%;
  }

}

